<h1>Templates</h1>
<p>Works-in-progress.</p>
<ul>
  <li><a href="basic">basic</a></li>
  <li><a href="breakout">breakout</a></li>
  <li><a href="hero">hero</a></li>
  <li><a href="newsletter">newsletter</a></li>
  <li><a href="receipt">receipt</a></li>
  <li><a href="sidebar-hero">sidebar-hero</a></li>
  <li><a href="sidebar">sidebar</a></li>
  <li><a href="boilerplate">boilerplate</a></li>
</ul>
