<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width"/>
  <% if(environment === "development") { %>
    <link rel="stylesheet" href="../src/wink.css" /> <!-- For development only -->
  <% } else { %>
    <style>
    <%- include ../dist/wink.css %>
    </style>
  <% } %>
  <style>
  @import url(http://fonts.googleapis.com/css?family=Fira+Sans:300,400,700);
  body, table.body, p, td,
  h1, h2, h3, h4, h5, h6 {
    font-family: "Fira Sans", fantasy;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }
  </style>
</head>
<body>
  <table class="body">
    <tr>
      <td class="center" align="center" valign="top">
        <center>

          <table class="row header">
            <tr>
              <td class="center" align="center">
                <center>

                  <table class="container">
                    <tr>
                      <td class="wrapper last">

                        <table class="twelve columns">
                          <tr>
                            <td class="six sub-columns">
                              <img src="http://placehold.it/200x50&text=PIZZA">
                            </td>
                            <td class="six sub-columns last" style="text-align:right; vertical-align:middle;">
                              <span class="template-label">order confirmation</span>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>

                </center>
              </td>
            </tr>
          </table>

          <table class="container">
            <tr>
              <td>
                <table class="row">
                  <tr>
                    <td class="wrapper">
                      <h1>Estimated pickup time</h1>
                    </td>
                  </tr>
                </table>
                <table class="row">
                  <tr>
                    <td class="wrapper">
                      <table class="twelve columns" style="border-bottom: 1px solid #CCC">
                        <tr>
                          <td class="four sub-columns">

                            <p style="font-size: 48px; line-height: 1;">7:53<abbr>PM</abbr></p>
                          </td>
                          <td class="eight sub-columns last">
                            <p style="font-size: 14px; line-height: 1.3;">June 28, 2014 at<br/>Pizza Friends,<br/>1000 West Broadway, Vancouver, BC</p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <table class="row">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td>
                            <h2>Order</h2>
                            <table>
                              <thead>
                                <tr>
                                  <th>
                                    Item
                                  </th>
                                  <th>
                                    Amount
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>
                                    <strong>New York Deli Pizza</strong>
                                    <p><em>14" Large, Italian Thin Crust.</em><br/>
                                    Mozza + Cheddar, Genoa Salami, Canadian Ham, Pepperoni, Spicy Italian Sausage, Side Bacon, Italian Tomato.</p>
                                  </td>
                                  <td>
                                    $12.00
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <strong>Rosemary Garlic Breadsticks</strong>
                                    <p>Savoury rosemary and garlic breadsticks sprinkled with Italiano seasoning + grated parmesan cheese.</p>
                                  </td>
                                  <td>
                                    $12.00
                                  </td>
                                </tr>
                              </tbody>
                              <tfoot>
                                <tr>
                                  <td class="text-pad-right right">
                                    Subtotal
                                  </td><td>
                                    $21.75
                                  </td>
                                </tr>
                                <tr>
                                  <td class="text-pad-right right">
                                    Tax
                                  </td><td>
                                    $1.09
                                  </td>
                                </tr>
                                <tr>
                                  <td class="text-pad-right right">
                                    Total
                                  </td><th>
                                    $22.84
                                  </th>
                                </tr>
                              </tfoot>
                            </table>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

              <!-- container end below -->
              </td>
            </tr>
          </table>

          <table class="row knockout">
            <tr>
              <td>
                <table class="container">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td>
                            <h1>You like pizza</h1>
                            <p>We also like pizza. Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae. consequat vel lacus. Sed iaculis pulvinar ligula, ornare fringilla ante viverra et.</p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <table class="container">
                  <tr>
                    <td class="wrapper last">
                      <table class="block-grid three-up">
                        <tr>
                          <td>
                            <h3>Pizza #1</h3>
                          </td><td><!-- Make sure the tags are directly next to each other -->
                            <h3>Pizza #2</h3>
                          </td><td>
                            <h3>Pizza #3</h3>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                      <table class="twelve columns">
                        <tr>
                          <td>
                            <a href="#" class="panel">
                              Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae. <span class="a-faux">Click it! →</span>
                            </a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </td>
                </table>
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </table>
</body>
</html>
