/*!
 * Wink v0.2.1
 * wink.kennethormandy.com
 * MIT License
 * Copyright © 2014 Kenneth Ormandy & Chloi Inc.
 */

// Variables
// ---------

$base-font-size: 18px !default;
$base-line-height: 1.4 !default;
$base-border-radius: 3px !default;

$font-family-sans: "Soleil Bold", "Avenir Next", "AvenirNext-SemiBold", "Futura-Medium", Futura, "Futura Std", "Trebuchet MS", Helvetica, Arial, sans-serif !default;
$font-family-serif: "Neue Swift W01", Georgia, Times, "Times New Roman", serif !default;

$color-primary: #369699 !default;
$color-text: #555 !default;
$color-gray-light: #EEE !default;
$color-gray-dark: lighten($color-text, 20%) !default;

@import url("http://f.fontdeck.com/s/css/l4MsFun30OJhB9DTDGcb8JQSAOQ/DOMAIN_NAME/46799.css");
@import url("http://fast.fonts.net/cssapi/199beebf-6f1b-4357-978e-839c8662fabf.css");

/* Client-specific Styles & Reset */

body.outlook p {
  display: inline !important;
}

#outlook a {
  padding: 0;
}

body {
  width: 100% !important;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

.ExternalClass { // Applies to Outlook.com / Hotmail
  width: 100%;
  line-height: 100%;
  p, span, font, td, div {
    line-height: 100%;
  }
}

#backgroundTable {
  margin: 0;
  padding: 0;
  width: 100% !important;
  line-height: 100% !important;
}

img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%;
  float: left;
  clear: both;
  display: block;
  margin-bottom: $base-font-size;
}

center {
  width: 100%;
  min-width: 580px;
}

a img {
  border: none;
}

p {
  margin: 0 0 0 10px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  border-collapse: collapse !important;
}

table, tr, td {
  padding: 0;
  vertical-align: top;
  text-align: left;
}

hr {
  color: $color-gray-light;
  background-color: $color-gray-light;
  height: 1px !important;
  border: none;
  margin-top: $base-font-size * 1.333333;
  margin-bottom: $base-font-size * 1.333333;
}

/* Responsive Grid */

table {
  &.body {
    height: 100%;
    width: 100%;
  }
  &.container {
    width: 580px;
    margin: 0 auto;
    text-align: inherit;
    td.last {
      padding-right: 0px;
    }
  }
  &.row {
    padding: 0px;
    width: 100%;
    position: relative;
    td.last {
      padding-right: 0px;
    }
  }
  &.container table.row {
    display: block;
  }
  &.columns,
  &.column {
    margin: 0 auto;
    td {
      padding: 0px 0px 10px;
      &.sub-column,
      &.sub-column {
        padding-right: 10px;
      }
    }
    .text-pad {
      padding-left: 10px;
      padding-right: 10px;
    }
    .left-text-pad,
    .text-pad-left {
      padding-left: 10px;
    }
    .right-text-pad,
    .text-pad-right {
      padding-right: 10px;
    }
  }

  &.one {    width: 30px;  }
  &.two {    width: 80px;  }
  &.three {  width: 130px; }
  &.four {   width: 180px; }
  &.five {   width: 230px; }
  &.six {    width: 280px; }
  &.seven {  width: 330px; }
  &.eight {  width: 380px; }
  &.nine {   width: 430px; }
  &.ten {    width: 480px; }
  &.eleven { width: 530px; }
  &.twelve { width: 580px; }

  &.one center {    min-width: 30px;  }
  &.two center {    min-width: 80px;  }
  &.three center {  min-width: 130px; }
  &.four center {   min-width: 180px; }
  &.five center {   min-width: 230px; }
  &.six center {    min-width: 280px; }
  &.seven center {  min-width: 330px; }
  &.eight center {  min-width: 380px; }
  &.nine center {   min-width: 430px; }
  &.ten center {    min-width: 480px; }
  &.eleven center { min-width: 530px; }
  &.twelve center { min-width: 580px; }

  &.one .panel center {    min-width: 10px;  }
  &.two .panel center {    min-width: 60px;  }
  &.three .panel center {  min-width: 110px; }
  &.four .panel center {   min-width: 160px; }
  &.five .panel center {   min-width: 210px; }
  &.six .panel center {    min-width: 260px; }
  &.seven .panel center {  min-width: 310px; }
  &.eight .panel center {  min-width: 360px; }
  &.nine .panel center {   min-width: 410px; }
  &.ten .panel center {    min-width: 460px; }
  &.eleven .panel center { min-width: 510px; }
  &.twelve .panel center { min-width: 560px; }

}

td {
  &.sub-column,
  &.sub-columns {
    min-width: 0px;
  }
  &.wrapper {
    padding: 10px 20px 0px 0px;
    position: relative;
  }
  &.offset-by-one { padding-left: 50px; }
  &.offset-by-two { padding-left: 100px; }
  &.offset-by-three { padding-left: 150px; }
  &.offset-by-four { padding-left: 200px; }
  &.offset-by-five { padding-left: 250px; }
  &.offset-by-six { padding-left: 300px; }
  &.offset-by-seven { padding-left: 350px; }
  &.offset-by-eight { padding-left: 400px; }
  &.offset-by-nine { padding-left: 450px; }
  &.offset-by-ten { padding-left: 500px; }
  &.offset-by-eleven { padding-left: 550px; }
  &.expander {
    visibility: hidden;
    width: 0px;
    padding: 0 !important;
  }
}

.body {
  .columns,
  .column {
    td {
      &.one { width:    #{ 1/12 * 100% } !important; }
      &.two { width:    #{ 2/12 * 100% } !important; }
      &.three { width:  #{ 3/12 * 100% } !important; }
      &.four { width:   #{ 4/12 * 100% } !important; }
      &.five { width:   #{ 5/12 * 100% } !important; }
      &.six { width:    #{ 6/12 * 100% } !important; }
      &.seven { width:  #{ 7/12 * 100% } !important; }
      &.eight { width:  #{ 8/12 * 100% } !important; }
      &.nine { width:   #{ 9/12 * 100% } !important; }
      &.ten { width:    #{ 10/12 * 100% } !important; }
      &.eleven { width: #{ 11/12 * 100% } !important; }
      &.twelve { width: #{ 12/12 * 100% } !important; }
    }
  }
}

/* Block Grid */

.block-grid {
  width: 100%;
  max-width: 580px;
  td {
    display: inline-block;
    padding: 10px;
  }
}

.two-up td {   width: 270px; }
.three-up td { width: 173px; }
.four-up td {  width: 125px; }
.five-up td {  width: 96px; }
.six-up td {   width: 76px; }
.seven-up td { width: 62px; }
.eight-up td { width: 52px; }

/* Typography */

body, table.body, p, td, h1, h2, h3, h4, h5, h6 {
  color: $color-text;
  font-weight: 400;
  padding:0;
  margin: 0;
  text-align: left;
}

body, table.body, p, td {
  font-family: $font-family-serif;
  font-size: $base-font-size;
  line-height:$base-line-height;
  @media only screen and (max-width: 600px) {
    font-size: $base-font-size * 1.1;
  }
}

a,
.a-faux {
  color: $color-primary;
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    color: darken($color-primary, 20%) !important;
  }
  &:visited {
    color: $color-primary !important;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans;
  line-height: $base-line-height * 0.8;
  font-weight: 600;
  margin-top: $base-font-size * 1.333333;
  margin-bottom: $base-font-size;
  a {
    color: $color-primary !important;
    &:active,
    &:visited {
      color: $color-primary !important;
    }
    &:hover,
    &:focus {

    }
  }
}

h1 { font-size: $base-font-size * 2.222222; }
h2 { font-size: $base-font-size * 2.000000; }
h3 { font-size: $base-font-size * 1.777777; }
h4 { font-size: $base-font-size * 1.555555; }
h5 { font-size: $base-font-size * 1.333333; }
h6 { font-size: $base-font-size * 1.000000; }

p {
  margin-bottom: $base-font-size !important;
  &.lead, &.lede, &.leed {
    font-size: $base-font-size * 1.333333;
    line-height: $base-line-height;
  }
}

small {
  font-size: $base-font-size * 0.8;
}

/* Panels */

.panel,
a.panel {
  display: block !important;
  background: $color-gray-light;
  box-shadow: inset 0 0 0 1px darken($color-gray-light, 10%);
  border-radius: $base-border-radius;
  padding: 20px !important;
  color: $color-gray-dark !important;
  font-size: $base-font-size * 0.8 !important;
  body &, table.body &, td &,
  body & p, table.body & p, td & p {
    font-family: $font-family-sans !important;
    margin-bottom: 0;
  }
  p {
    font-size: $base-font-size * 0.8 !important;
    // color: $color-gray-dark !important;
  }
}

/* Sub-grid */

.sub-grid {
  table {
    width: 100%;
  }
  td.sub-columns {
    padding-bottom: 0;
  }
}

/* Buttons */

table {
  &.button,
  &.tiny-button,
  &.small-button,
  &.medium-button,
  &.large-button {
    width: 100%;
    overflow: hidden;
    td {
      display: block;
      width: auto !important;
      text-align: center;
      background: $color-primary;
      border: 1px solid $color-primary;
      color: #FFF;
      padding: 8px 0;
      a {
        font-weight: 400;
        text-decoration: none;
        font-family: $font-family-sans;
        color: #FFF;
        font-size: $base-font-size;
        display: block;
        height: 100%;
        width: 100%;
      }
    }
  }
  &.tiny-button td {
    padding: 5px 0 4px;
    a { font-size: $base-font-size * 0.666666; }
  }
  &.small-button td {
    padding: 8px 0 7px;
    a { font-size: $base-font-size * 0.888888; }
  }
  &.medium-button td {
    padding: 12px 0 10px;
    a { font-size: $base-font-size * 1; }
  }
  &.large-button td {
    padding: 21px 0 18px;
    a { font-size: $base-font-size * 1.2; }
  }
  &.button {
    &:hover td,
    &:visited td,
    &:active td {
      background: darken($color-primary, 10%) !important;
      border: 1px solid darken($color-primary, 10%) !important;
    }
    &:hover td a,
    &:visited td a,
    &:active td a {
      color: #FFF !important;
    }
    &:hover td a,
    &:active td a,
    td a:visited {
      color: #FFF !important;
    }
  }
  &.tiny-button,
  &.small-button,
  &.medium-button,
  &.large-button {
    &:hover td a,
    &:active td a,
    td a:visited {
      color: #FFF !important;
    }
    &:hover td {
      background: darken($color-primary, 10%) !important;
      border: 1px solid darken($color-primary, 10%) !important;
    }
  }
  &.secondary {
    td {
      background: #e9e9e9;
      border-color: #d0d0d0;
      color: #555;
      a {
        color: #555;
      }
    }
    &:hover td {
      background: #d0d0d0 !important;
      color: #555;
      a {
        color: #555 !important;
      }
    }
    td a:visited, &:active td a {
      color: #555 !important;
    }
  }
  &.success {
    td {
      background: #5da423;
      border-color: #457a1a;
    }
    &:hover td {
      background: #457a1a !important;
    }
  }
  &.alert {
    td {
      background: #c60f13;
      border-color: #970b0e;
    }
    &:hover td {
      background: #970b0e !important;
    }
  }
  &.radius td {
    -webkit-border-radius: $base-border-radius;
    -moz-border-radius: $base-border-radius;
    border-radius: $base-border-radius;
  }
  &.round td {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
}

/* Helpers */

table, td, h1, h2, h3, h4, h5, h6, p {
  .center {
    text-align: center;
  }
  .right {
    text-align: right;
  }
  .left {
    text-align: left;
  }
}

span.center,
span.left,
span.right {
  display: block;
  width: 100%;
  text-align: center;
}

span.right {
  text-align: right;
}

span.left {
  text-align: left;
}

img.center {
  margin: 0 auto;
  float: none;
}

img.right {
  float: right;
}

img.left {
  float: left;
}

.show-for-small,
.hide-for-desktop {
  display: none;
  visibility: hidden;
}

.afterwards {
  p, div, span, a {
    font-size: $base-font-size * 0.8 !important;
    // text-align: center;
    color: $color-gray-dark !important;
  }
  a {
    color: desaturate($color-primary, 20%) !important;
  }
}

// This needs to stay in the style block, rather than inline
.fixBlueLinks {
  a {
    color: desaturate($color-primary, 20%) !important;
    text-decoration: none !important;
  }
}

/* Knockout */

.knockout {
  background: $color-primary !important;
  // margin-bottom: $base-font-size;
  // table {
  //   margin-bottom: $base-font-size;
  // }
  td, tr, table, div, span, p,
  h1, h2, h3, h4, h5, h6 {
    @if lightness($color-primary) < 50% {
      color: #FFF;
    } @else {
      color: $color-text;
    }
    a {
      text-decoration: underline;
      &.panel {
        text-decoration: none;
        .a-faux {
          color: $color-primary;
        }
      }
    }
  }
}

/*  Media Queries */

@media only screen and (max-width: 600px) {

  table[class="body"] {

    img {
      width: auto !important;
      height: auto !important;
    }

    center {
      min-width: 0 !important;
    }

    .container {
      width: 95% !important;
    }

    .row {
      width: 100% !important;
      display: block !important;
    }

    .wrapper {
      display: block !important;
      padding-right: 0 !important;
      &.first .columns,
      &.first .column {
        display: table !important;
      }
    }

    .columns,
    .column {
      table-layout: fixed !important;
      float: none !important;
      width: 100% !important;
      padding-right: 0px !important;
      padding-left: 0px !important;
      display: block !important;
      td {
        &.one { width:    #{ 1/12 * 100% } !important; }
        &.two { width:    #{ 2/12 * 100% } !important; }
        &.three { width:  #{ 3/12 * 100% } !important; }
        &.four { width:   #{ 4/12 * 100% } !important; }
        &.five { width:   #{ 5/12 * 100% } !important; }
        &.six { width:    #{ 6/12 * 100% } !important; }
        &.seven { width:  #{ 7/12 * 100% } !important; }
        &.eight { width:  #{ 8/12 * 100% } !important; }
        &.nine { width:   #{ 9/12 * 100% } !important; }
        &.ten { width:    #{ 10/12 * 100% } !important; }
        &.eleven { width: #{ 11/12 * 100% } !important; }
        &.twelve { width: #{ 12/12 * 100% } !important; }
      }
    }

    table.columns td,
    table.column td {
      width: 100% !important;
      &.expander {
        width: 1px !important;
      }
    }

    td {
      .offset-by-one,
      .offset-by-two,
      .offset-by-three,
      .offset-by-four,
      .offset-by-five,
      .offset-by-six,
      .offset-by-seven,
      .offset-by-eight,
      .offset-by-nine,
      .offset-by-ten,
      .offset-by-eleven {
        padding-left: 0 !important;
      }
    }

    .right-text-pad,
    .text-pad-right {
      padding-left: 10px !important;
    }

    .left-text-pad,
    .text-pad-left {
      padding-right: 10px !important;
    }

    .hide-for-small,
    .show-for-desktop {
      display: none !important;
    }

    .show-for-small,
    .hide-for-desktop {
      display: inherit !important;
    }
  }
}
